@charset "utf-8";
/* CSS Document */

/* Pay Buttons - note, this class is removed after setup and replaced by pay-size and pay-hidden */
.pay-button {
    height: 40px !important;
    border-radius: 4px;
    margin: 0 10px 10px 0;
    width: 250px !important;
}

.pay-hidden {
    display: none;
    visibility: hidden;
}

@supports (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button {
        display: inline-block;
        -webkit-appearance: -apple-pay-button;
    }

    .apple-pay-button-black {
        -apple-pay-button-style: black;
    }

    .apple-pay-button-white {
        -apple-pay-button-style: white;
    }

    .apple-pay-button-white-with-line {
        -apple-pay-button-style: white-outline;
    }
}
